{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "partials/miniProfile/macro.njk" import miniProfile %}

{% set mainClasses = "app-container govuk-body" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>

  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}

  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
  {% endfor %}

  {% if appInsightsConnectionString %}
    <script type="text/javascript" src="/assets/applicationinsights-web.min.js"  nonce="{{ cspNonce }}"></script>
    <script type="text/javascript" src="/assets/applicationinsights-clickanalytics-js.min.js"  nonce="{{ cspNonce }}"></script>
    <script type="text/javascript" nonce="{{ cspNonce }}">

      const clickPluginInstance = new Microsoft.ApplicationInsights.ClickAnalyticsPlugin()
      // Click Analytics configuration
      const clickPluginConfig = {
        autoCapture: true,
        dataTags: {
          useDefaultContentNameOrId: true,
        },
      }
      const snippet = {
        config: {
          connectionString: "{{ appInsightsConnectionString }}",
          extensions: [
            clickPluginInstance,
          ],
          extensionConfig: {
            [clickPluginInstance.identifier]: clickPluginConfig,
          },
          autoTrackPageVisitTime: true,
        },
      }
      const init = new Microsoft.ApplicationInsights.ApplicationInsights(snippet)
      const appInsights = init.loadAppInsights()
      appInsights.addTelemetryInitializer(function (envelope) {
        envelope.tags["ai.cloud.role"] = "{{ appInsightsApplicationName }}"
        envelope.tags["ai.application.ver"] = "{{ buildNumber }}"

        if (envelope.baseData) {
          envelope.baseData.properties = envelope.baseData.properties || {}
          envelope.baseData.properties["activeCaseLoadId"] = '{{ user.activeCaseLoad.caseLoadId }}'
        }

        if (envelope.name.includes("Pageview") || envelope.name.includes("PageviewPerformance")) {
          envelope.baseData.name = envelope.baseData.name.replace(/[a-zA-Z][0-9]{4}[a-zA-Z]{2}/, 'PRISONER_NUMBER')
        }

        // Prevent PII leaking into logs:
        if (envelope.data.baseTypeSource === "ClickEvent"
          && (
            envelope.data.targetUri.endsWith("/prisoner/{{ prisonerNumber }}")
            || envelope.baseData.name.includes("{{ prisonerName?.firstLast }}")
            || envelope.baseData.name.includes("{{ prisonerName?.lastCommaFirst }}")
            || envelope.baseData.name.includes("{{ prisonerName?.full }}")
          )
        ) {
          const contentArray = JSON.parse(envelope.data.content);
          for (let content of contentArray) {
            if (content.contentName) {
              let redactedStr = "Prisoner Link (Prisoner Name Redacted)";
              content.contentName = redactedStr;
              envelope.baseData.name = redactedStr;
            }
          }
          envelope.data.content = JSON.stringify(contentArray);
          envelope.data.pageName = envelope.data.pageName.replace(/[a-zA-Z][0-9]{4}[a-zA-Z]{2}/, 'PRISONER_NUMBER')
        }
      });
      appInsights.trackPageView();
    </script>
  {% endif %}
{% endblock %}

{% set errorSummaryList = validationErrors | buildErrorSummaryList %}

{% if errorSummaryList.length > 0 %}
  {% set pageTitlePrefix = 'Error: ' %}
{% elseif searchResultCount !== undefined %}
  {% if searchResultCount === 0 %}
    {% set pageTitlePrefix = 'No results found: ' %}
  {% elseif searchResultCount === 1 %}
    {% set pageTitlePrefix = '1 result found: ' %}
  {% else %}
    {% set pageTitlePrefix = searchResultCount + ' results found: ' %}
  {% endif %}
{% endif %}

{% block pageTitle %}{{ pageTitlePrefix or '' }}{{pageTitle or 'Schedule a transfer for a prisoner'}} - DPS{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block meta %}{% endblock %}
{% endblock %}

{% block container %}
  <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}" {{- govukAttributes(containerAttributes) }}>
    {% block containerStart %}{% block beforeContent %}
      {% include "partials/phase-banner.njk" %}

      {% if backUrl %}
        {{ govukBackLink({
          text: backLabel or "Back",
          href: backUrl
        }) }}
      {% endif %}

      {% if showBreadcrumbs and breadcrumbs and(not backUrl) %}
        <div class="govuk-!-display-none-print">
          <div>
            {{ govukBreadcrumbs({
              items: breadcrumbs.items
            }) }}
          </div>
        </div>
      {% endif %}

      {% if errorSummaryList.length > 0 %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: (errorSummaryList | customErrorOrderBuilder(customErrorOrder)) if customErrorOrder else errorSummaryList,
              classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-0'
            }) }}
          </div>
        </div>
      {% endif %}

      {% if prisonerDetails %}
        {{ miniProfile(prisonerDetails, originalUrl) }}
      {% endif %}

      {% block pageHeader %}{% endblock %}
    {% endblock %}{% endblock %}
  </div>

  <div class="{{ "" if fullScreen else "govuk-width-container" }} {%- if containerClasses %} {{ containerClasses }}{% endif %}" {{- govukAttributes(containerAttributes) }}>
    {% block main %}
      <main class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}" id="main-content" {%- if mainLang %} lang="{{ mainLang }}"{% endif %} {{- govukAttributes(mainAttributes) }}>
        {% block content %}
          {% if successBanner %}
            {{ govukNotificationBanner({
              text: successBanner,
              type: "success"
            }) }}
          {% endif %}

          <div class="govuk-grid-row">
            <div class="govuk-body {% if fullWidth %}govuk-grid-column-full{% else %}govuk-grid-column-two-thirds{% endif %}">
              {% addHistory %}
                {% block innerContent %}{% endblock %}
              {% history %}
                {{ history | dump | safe }}
              {% endAddHistory %}
            </div>
          </div>
        {% endblock %}
      </main>
    {% endblock %}
    {% block containerEnd %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-transfer-scheduler-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}
