<section aria-label="Prisoner details" role="region">
  <div class="mini-profile govuk-!-margin-top-7" data-qa="mini-profile">
      {% set formattedName =  prisonerDetails | lastNameCommaFirstName %}
    <div class="mini-profile-inner">
      <div class="mini-profile-left">
        <img class="mini-profile-person-img" src="/prisoner-image/{{ prisonerDetails.prisonerNumber}}" alt="Image of {{ formattedName }}" loading="lazy" data-qa="mini-profile-person-img">
      </div>
      <div class="mini-profile-right">
        <ul class="mini-profile-info">
          <li>
            <p class="govuk-heading-s govuk-!-margin-bottom-1">
              <a id="mini-profile-link" class="govuk-link--no-visited-state" href="{{ prisonerProfileBacklink(originalUrl, prisonerDetails.prisonerNumber) }}" data-qa="mini-profile-person-profile-link">{{ formattedName }}</a>
            </p>
            <span class="govuk-body" data-qa="mini-profile-prisoner-number">{{ prisonerDetails.prisonerNumber }}</span>
          </li>
          {% if prisonerDetails.dateOfBirth %}
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span>
              <span class="govuk-body" data-qa="mini-profile-dob">{{ prisonerDetails.dateOfBirth | formatDate }}</span>
            </li>
          {% endif %}
          {% if prisonerDetails.prisonName %}
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Establishment</span>
              <span class="govuk-body" data-qa="mini-profile-prison-name">{{ prisonerDetails.prisonName }}</span>
            </li>
          {% endif %}
          {% if prisonerDetails.cellLocation %}
            <li>
              <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</span>
              <span class="govuk-body" data-qa="mini-profile-cell-location">{{ prisonerDetails.cellLocation }}</span>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</section>
