{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set fullScreen = true %}
{% set fullWidth = true %}
{% set pageTitle = 'Search for a prisoner - ' + caption | sentenceCase %}

{% if searchTerm %}
  {% set searchResultCount = results.length %}
{% endif %}

{% block innerContent %}
  <div class="govuk-width-container govuk-!-static-margin-bottom-6">
    <span class="govuk-caption-l">{{ caption }}</span>
    <label for="searchTerm"><h1 class="govuk-heading-l">Search for a prisoner</h1></label>
  </div>

  <div class="block-background govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-margin-bottom-7">
    <div class="govuk-width-container">
      <div class="moj-search govuk-!-width-two-thirds">
        <form method="GET">
          {{ hiddenInputs(query | getQueryEntries(['history'])) }}
          {{ govukInput({
            name: 'searchTerm',
            classes: "moj-search__input",
            hint: {
              text: "Enter name or prison number. A maximum of 10 results can be returned."
            },
            value: searchTerm,
            errorMessage: validationErrors | findError('searchTerm')
          }) }}

          {{ govukButton({
            classes: "moj-search__button",
            text: "Search",
            preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-!-width-two-thirds">
    {% if not searchTerm %}
      <p class="govuk-!-margin-bottom-6"><strong>Start a search to view prisoner records.</strong></p>
    {% elseif not results.length %}
      <p class="govuk-!-margin-bottom-6"><strong>No prisoner records match your search.</strong></p>
    {% else %}
      {% set rows = [] %}
      {% for prisoner in results %}
        {% set rows = (rows.push([
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="' + prisoner.backLink + '">' + prisoner | firstNameSpaceLastName + '</a>'
          },
          {
            text: prisoner.prisonerNumber
          },
          {
            text: prisoner.cellLocation
          },
          {
            classes: 'govuk-link govuk-link--no-visited-state',
            html: '<a class="govuk-link govuk-link--no-visited-state" href="' + action.url + prisoner.prisonerNumber + '">' + action.label + '<span class="govuk-visually-hidden"> for ' + prisoner | firstNameSpaceLastName + '</span></a>'
          }
        ]), rows) %}
      {% endfor %}
      {{ govukTable({
        firstCellIsHeader: false,
        classes: 'table-vertical-align-middle govuk-!-margin-top-6',
        head: [
          {
            text: "Name"
          },
          {
            text: "Prison number"
          },
          {
            text: 'Location'
          },
          {
            text: "Action"
          }
        ],
        rows: rows
      }) }}
    {% endif %}
    </div>
  </div>
{% endblock %}
