{% extends "partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/auditHistory/macro.njk" import auditHistory %}
{% from "partials/statusTag/macro.njk" import statusTag %}

{% set fullWidth = true %}
{% set caption = 'Manage ' + transfer.label + 's' %}
{% set pageTitle = 'Manage ' + transfer.label + ' - ' + caption %}

{% block innerContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-heading-l">Manage {{ prisonerDetails | firstNameSpaceLastName | possessiveComma }} {{ transfer.label }}</h1>

      {% if prisonRegistryError %}
        <div class="moj-api-error govuk-!-margin-bottom-6">
          <p>Some information on this page is currently unavailable</p>
          <p>Unable to retrieve information for prisons. Try again later.</p>
        </div>
      {% endif %}

      {% set baseEditUrl = "/transfers/start-edit/" + transfer.id %}

      <div class="govuk-button-group">
        {% if transfer.status.code === 'READY_TO_SCHEDULE' and user | hasPermission('MANAGE') %}
          {{ govukButton({
            text: "Schedule this plan",
            href: "/transfers/start-schedule-a-plan/" + transfer.id,
            preventDoubleClick: true
          }) }}
        {% endif %}
        {% if cancellable and user | hasPermission('MANAGE') %}
          {{ govukButton({
            classes: "govuk-button--warning",
            text: "Cancel this plan" if transfer.stage === 'PLANNING' else "Cancel this transfer",
            href: baseEditUrl + "/cancel",
            preventDoubleClick: true
          }) }}
        {% endif %}
        {% if transfer.status.code === 'SCHEDULED' and user | hasPermission('MANAGE') %}
          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Move to planned transfers",
            href: "/transfers/start-move-to-planning/" + transfer.id,
            preventDoubleClick: true
          }) }}
        {% endif %}
      </div>

      {{ govukTabs({
        items: [
          {
            label: "Planned transfer" if transfer.stage === 'PLANNING' else "Manage transfer",
            id: "view-transfer",
            panel: { html: govukSummaryList({
            card: {
              classes: "govuk-!-margin-bottom-2",
              title: {
                text: "Transfer information"
              }
            },
            rows: [
              {
                key: { text: "Date and time" },
                value: { text: transfer.schedule.start | formatDate("d MMMM yyyy 'at' HH:mm") or 'Not entered' },
                actions: { items: [{ href: baseEditUrl + "/date-and-time", text: "Change" if transfer.schedule.start else "Add", visuallyHiddenText: "date and time" }] }
              },

              {
                key: { text: "Request received" },
                value: { text: transfer.plan.requestedOn | formatDate("d MMMM yyyy") },
                actions: { items: [{ href: baseEditUrl + "/request-date", text: "Change", visuallyHiddenText: "request date" }] }
              } if transfer.stage === 'PLANNING',
              {
                key: { text: "Destination" },
                value: { text: transfer.destination.name or 'Not entered' },
                actions: { items: [{ href: baseEditUrl + "/destination", text: "Change" if transfer.destination else "Add", visuallyHiddenText: "destination" }] }
              },
              {
                key: { text: "Reason" },
                value: { text: transfer.reason.description },
                actions: { items: [{ href: baseEditUrl + "/reason", text: "Change", visuallyHiddenText: "reason" }] }
              },
              {
                key: { text: "Escort details" },
                value: { text: transfer.logistics.description or 'Not entered' },
                actions: { items: [{ href: baseEditUrl + "/logistics", text: "Change" if transfer.logistics else "Add", visuallyHiddenText: "escort details" }] }
              },
              {
                key: { text: "Priority" },
                value: { text: transfer.plan.priority.description },
                actions: { items: [{ href: baseEditUrl + "/priority", text: "Change", visuallyHiddenText: "priority" }] }
              } if transfer.stage === 'PLANNING',
              {
                key: { text: "Comments" },
                value: { text: ((transfer.plan.comments if transfer.stage === 'PLANNING' else transfer.schedule.comments) or 'Not provided') | escape | nl2br },
                actions: { items: [{ href: baseEditUrl + "/comments", text: "Change", visuallyHiddenText: "comments" }] }
              },
              {
                key: { text: 'Status' },
                value: { html: statusTag(transfer) }
              },
              {
                key: { html: '<h3 class="summary-list-subheading govuk-heading-m govuk-!-static-margin-bottom-1">Previous transfer information</h3>' }
              } if transfer.stage === 'PLANNING' and transfer.schedule.comments,
              {
                key: { text: 'Comments' }, value: { text: transfer.schedule.comments | escape | nl2br }
              } if transfer.stage === 'PLANNING' and transfer.schedule.comments
            ] | removeNullish | showChangeLinksIf(user | hasPermission('MANAGE') and editable)
          }) }
          },
          {
            label: "Plan history" if transfer.stage === 'PLANNING' else "Transfer history",
            id: "transfer-history",
            panel: { html: auditHistory({ actions: auditedActions, prisonerName: prisonerDetails | firstNameSpaceLastName }) }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
