{% extends "partials/layout.njk" %}

{% set fullWidth = true %}
{% set pageTitle = 'This prisoner has a non-association - Manage ' + transfer.label + 's' %}

{% block innerContent %}
  {% include 'partials/non-association-interruption.njk' %}
{% endblock %}
