{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "partials/cardTable/macro.njk" import cardTable %}
{% from "partials/statusTag/macro.njk" import statusTag %}

{% set fullScreen = true %}
{% set fullWidth = true %}
{% set pageTitle = 'Search for a prisoner - Manage scheduled transfers' %}

{% if not hasValidationError %}
  {% set searchResultCount = paginationParams.totalRows %}
{% endif %}

{% block meta %}
  <meta name="autocompleteElements" content="destination"/>
  <meta name="autocompleteElements" content="reason"/>
  <meta name="autocompleteElements" content="logistics"/>
{% endblock %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage scheduled transfers</span>
        <label for="searchTerm"><h1 class="govuk-heading-l">Search for a prisoner</h1></label>
      </div>
    </div>
  </div>

  <div class="block-background govuk-!-padding-top-6 govuk-!-padding-bottom-6 govuk-!-margin-bottom-7">
    <div class="govuk-width-container">
      <div class="moj-search govuk-!-width-two-thirds">
        <form method="GET">
          {{ hiddenInputs(query | getQueryEntries(['start','end','destination','reason', 'logistics','status','history'])) }}
          {{ govukInput({
            name: 'searchTerm',
            classes: "moj-search__input",
            hint: {
              text: "Enter prisoner name or prison number."
            },
            value: searchTerm,
            errorMessage: validationErrors | findError('searchTerm')
          }) }}

          {{ govukButton({
            classes: "moj-search__button",
            text: "Search",
            preventDoubleClick: true
          }) }}
        </form>
      </div>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <section role="region" aria-label="Search Filters">
          <form class="hmpps-side-filter" method="GET">
            {{ hiddenInputs(query | getQueryEntries(['searchTerm', 'history'])) }}
            <h2 class="hmpps-side-filter__header">Filter</h2>

            {{ govukButton({
              text: "Apply",
              preventDoubleClick: true
            }) }}

            <div class="hmpps-side-filter__content">
              {{ mojDatePicker({
                id: "start",
                name: "start",
                label: {
                  text: 'Date from'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: start,
                errorMessage: validationErrors | findError('start'),
                classes: 'hmpps-datepicker--fixed-width'
              }) }}

              {{ mojDatePicker({
                id: "end",
                name: "end",
                label: {
                  text: 'Date to'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: end,
                errorMessage: validationErrors | findError('end'),
                classes: 'hmpps-datepicker--fixed-width'
              }) }}

              {{ govukSelect({
                id: "destination",
                name: "destination",
                label: { text: "Prison destination", classes: "govuk-label--m" },
                hint: { text: "For example, London" },
                items: prisons | fromCodedDescription | addSelectValue('') | setSelectedValue(destination),
                errorMessage: validationErrors | findError('destination')
              }) }}

              {{ govukSelect({
                id: "reason",
                name: "reason",
                label: { text: "Reason", classes: "govuk-label--m" },
                hint: { text: "For example, Police escort" },
                items: reasons | fromCodedDescription | addSelectValue('') | setSelectedValue(reason),
                errorMessage: validationErrors | findError('reason')
              }) }}

              {{ govukSelect({
                id: "logistics",
                name: "logistics",
                label: { text: "Escort details", classes: "govuk-label--m" },
                hint: { text: "For example, Accompanied" },
                items: logisticsOptions | fromCodedDescription | addSelectValue('') | setSelectedValue(logistics),
                errorMessage: validationErrors | findError('logistics')
              }) }}

              {{ govukCheckboxes({
                id: "status",
                name: "status",
                fieldset: {
                  legend: {
                    text: "Status",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                classes: "govuk-checkboxes--small",
                errorMessage: validationErrors | findError('status'),
                items: [
                  {
                    value: 'SCHEDULED',
                    text: "Scheduled"
                  },
                  {
                    value: 'IN_TRANSIT',
                    text: "In transit"
                  },
                  {
                    value: 'COMPLETED',
                    text: "Completed"
                  },
                  {
                    value: 'EXPIRED',
                    text: "Expired"
                  },
                  {
                    value: 'CANCELLED',
                    text: "Cancelled"
                  }
                ] | setCheckedValue(status or '')
              }) }}
            </div>
          </form>
        </section>
      </div>

      <div class="govuk-grid-column-three-quarters">
        {% if hasValidationError %}
          <p class="govuk-!-margin-bottom-6"><strong>Enter a valid filter to search and view scheduled transfers.</strong></p>
        {% elseif not results.length %}
          <p class="govuk-!-margin-bottom-6"><strong>No scheduled transfers match your search.</strong></p>
        {% else %}
          <div class="govuk-!-display-none-print govuk-!-margin-bottom-5">
            <div>
              <form id="sortForm">
                {{ hiddenInputs(query | getQueryEntries(['searchTerm','start','end','destination','reason', 'logistics', 'status','history'])) }}
                <label class="govuk-label" for="sort">Sort by</label>
                <select class="govuk-select hmpps-sort-selector__select" id="sort" name="sort" value="{{ sort or 'start,asc' }}">
                  <option value="start,asc" {{ 'selected' if sort === 'start,asc' else '' }}>Start date (oldest)</option>
                  <option value="start,desc" {{ 'selected' if sort === 'start,desc' else '' }}>Start date (most recent)</option>
                </select>
                <button type="submit" data-prevent-double-click="true" class="govuk-button hmpps-sort-selector__sort-button">
                  Sort
                </button>
              </form>
            </div>
          </div>

          {{ simplePagination(paginationParams) }}

          {% set rows = [] %}
          {% for result in results %}
            {% set rows = (rows.push(
              {
                title: { text: result.person | firstNameSpaceLastName + ' - ' + result.person.identifier },
                action: { text: 'View details', href: '/transfers/' + result.id },
                data: [
                  result.destination.name,
                  result.schedule.start | formatDate("d MMMM yyyy"),
                  result.schedule.start | formatDate("HH:mm"),
                  result.reason.description,
                  result.logistics.description,
                  { html: statusTag(result) }
                ]
              }
            ), rows) %}
          {% endfor %}

          {{ cardTable({
            columns: [
              [
                { text: 'Destination', width: 35 },
                { text: 'Date', width: 20 },
                { text: 'Time', width: 45 }
              ],
              [
                { text: 'Reason', width: 35 },
                { text: 'Escort details', width: 45 },
                { text: '', width: 20 }
              ]
            ],
            rows: rows
          }) }}

          {{ simplePagination(paginationParams) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
