{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "partials/hiddenInputs/macro.njk" import hiddenInputs %}
{% from "partials/simplePagination/macro.njk" import simplePagination %}
{% from "partials/cardTable/macro.njk" import cardTable %}
{% from "partials/statusTag/macro.njk" import statusTag %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set fullScreen = true %}
{% set fullWidth = true %}
{% set pageTitle = 'Search for a planned transfer - Manage planned transfers' %}

{% if not hasValidationError %}
  {% set searchResultCount = paginationParams.totalRows %}
{% endif %}

{% block meta %}
  <meta name="autocompleteElements" content="destination"/>
  <meta name="autocompleteElements" content="reason"/>
  <meta name="autocompleteElements" content="logistics"/>
{% endblock %}

{% block innerContent %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage planned transfers</span>
        <h1 class="govuk-heading-l">Search for a planned transfer</h1>
      </div>
    </div>
  </div>

  <div class="block-background govuk-!-padding-top-6 govuk-!-padding-bottom-1 govuk-!-margin-bottom-7">
    <div class="govuk-width-container">
      <search class="moj-search govuk-!-width-two-thirds">
        <form method="GET">
          {{ hiddenInputs(query | getQueryEntries(['start','end','destination','reason', 'logistics','status','history'])) }}
          <div class="search-wrapper moj-search__input-wrapper">
            {{ govukInput({
              name: 'searchTerm',
              classes: "moj-search__input",
              label: {
                text: "Enter a prisoner name or number. A maximum of 10 results can be returned."
              },
              value: searchTerm,
              errorMessage: validationErrors | findError('searchTerm')
            }) }}

            {{ govukButton({
              classes: "search-button",
              text: "Search",
              preventDoubleClick: true
            }) }}
          </div>
        </form>
      </search>
    </div>
  </div>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <section role="region" aria-label="Search Filters">
          <form class="hmpps-side-filter" method="GET">
            {{ hiddenInputs(query | getQueryEntries(['searchTerm', 'history'])) }}
            <h2 class="hmpps-side-filter__header">Filter</h2>

            {{ govukButton({
              text: "Apply",
              preventDoubleClick: true
            }) }}

            {% set requestDateInputs %}
              {{ mojDatePicker({
                id: "requestStart",
                name: "requestStart",
                label: {
                  html: 'Date from<span class="govuk-visually-hidden"> (request date)</span>'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: requestStart,
                errorMessage: validationErrors | findError('requestStart'),
                classes: 'hmpps-datepicker--fixed-width govuk-!-margin-bottom-4'
              }) }}

              {{ mojDatePicker({
                id: "requestEnd",
                name: "requestEnd",
                label: {
                  html: 'Date to<span class="govuk-visually-hidden"> (request date)</span>'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: requestEnd,
                errorMessage: validationErrors | findError('requestEnd'),
                classes: 'hmpps-datepicker--fixed-width'
              }) }}
            {% endset %}

            {% set transferDateInputs %}
              {{ mojDatePicker({
                id: "start",
                name: "start",
                label: {
                  html: 'Date from<span class="govuk-visually-hidden"> (request date)</span>'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: start,
                errorMessage: validationErrors | findError('start'),
                classes: 'hmpps-datepicker--fixed-width govuk-!-margin-bottom-4'
              }) }}

              {{ mojDatePicker({
                id: "end",
                name: "end",
                label: {
                  html: 'Date to<span class="govuk-visually-hidden"> (request date)</span>'
                },
                hint: { text: 'For example, 17/5/2024.' },
                value: end,
                errorMessage: validationErrors | findError('end'),
                classes: 'hmpps-datepicker--fixed-width'
              }) }}
            {% endset %}

            <div class="hmpps-side-filter__content">
              {{ govukRadios({
                name: "dateType",
                classes: "govuk-radios--small",
                errorMessage: validationErrors | findError('dateType'),
                fieldset: {
                  legend: {
                    text: 'Date type',
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: 'REQUESTED_ON',
                    text: "Request received",
                    label: { classes: 'govuk-!-font-weight-regular' },
                    conditional: { html: requestDateInputs }
                  },
                  {
                    value: 'START',
                    text: "Transfer date",
                    label: { classes: 'govuk-!-font-weight-regular' },
                    conditional: { html: transferDateInputs }
                  }
                ] | setCheckedValue(dateType or 'REQUESTED_ON')
              }) }}

              {{ govukSelect({
                id: "destination",
                name: "destination",
                label: { text: "Prison destination", classes: "govuk-label--m" },
                hint: { text: "For example, London" },
                items: prisons | fromCodedDescription | addSelectValue('') | setSelectedValue(destination),
                errorMessage: validationErrors | findError('destination')
              }) }}

              {{ govukSelect({
                id: "reason",
                name: "reason",
                label: { text: "Reason", classes: "govuk-label--m" },
                hint: { text: "For example, Police escort" },
                items: reasons | fromCodedDescription | addSelectValue('') | setSelectedValue(reason),
                errorMessage: validationErrors | findError('reason')
              }) }}

              {{ govukSelect({
                id: "logistics",
                name: "logistics",
                label: { text: "Escort details", classes: "govuk-label--m" },
                hint: { text: "For example, Accompanied" },
                items: logisticsOptions | fromCodedDescription | addSelectValue('') | setSelectedValue(logistics),
                errorMessage: validationErrors | findError('logistics')
              }) }}

              {{ govukCheckboxes({
                id: "status",
                name: "status",
                fieldset: {
                  legend: {
                    text: "Status",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                classes: "govuk-checkboxes--small",
                errorMessage: validationErrors | findError('status'),
                items: [
                  {
                    value: 'PLANNING',
                    text: "Awaiting details"
                  },
                  {
                    value: 'CANCELLED',
                    text: "Cancelled"
                  },
                  {
                    value: 'READY_TO_SCHEDULE',
                    text: "Ready to schedule"
                  }
                ] | setCheckedValue(status or '')
              }) }}

              {{ govukCheckboxes({
                id: "priority",
                name: "priority",
                fieldset: {
                  legend: {
                    text: "Priority",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                classes: "govuk-checkboxes--small",
                errorMessage: validationErrors | findError('priority'),
                items: priorityOptions | fromCodedDescription | setCheckedValue(priority or '')
              }) }}
            </div>
          </form>
        </section>
      </div>

      <div class="govuk-grid-column-three-quarters">
        {% if hasValidationError %}
          <p class="govuk-!-margin-bottom-6"><strong>Enter a valid filter to search and view planned transfers.</strong></p>
        {% elseif not results.length %}
          <p class="govuk-!-margin-bottom-6"><strong>No planned transfers match your search.</strong></p>
        {% else %}
          <div class="govuk-!-display-none-print govuk-!-margin-bottom-5">
            <div>
              <form id="sortForm">
                {{ hiddenInputs(query | getQueryEntries(['searchTerm','start','end','destination','reason', 'logistics', 'status','history'])) }}
                <label class="govuk-label" for="sort">Sort by</label>
                <select class="govuk-select hmpps-sort-selector__select" id="sort" name="sort" value="{{ sort or 'requestedOn,asc' }}">
                  <option value="requestedOn,asc" {{ 'selected' if sort === 'requestedOn,asc' else '' }}>Request date (oldest)</option>
                  <option value="requestedOn,desc" {{ 'selected' if sort === 'requestedOn,desc' else '' }}>Request date (most recent)</option>
                  <option value="start,asc" {{ 'selected' if sort === 'start,asc' else '' }}>Start date (oldest)</option>
                  <option value="start,desc" {{ 'selected' if sort === 'start,desc' else '' }}>Start date (most recent)</option>
                </select>
                <button type="submit" data-prevent-double-click="true" class="govuk-button hmpps-sort-selector__sort-button">
                  Sort
                </button>
              </form>
            </div>
          </div>

          {{ simplePagination(paginationParams) }}

          {% set rows = [] %}
          {% for result in results %}
            {% set rows = (rows.push(
              {
                title: { text: result.person | firstNameSpaceLastName + ' - ' + result.person.identifier },
                action: { text: 'Add details' if result.status.code === 'PLANNING' else 'View details', href: '/transfers/' + result.id },
                data: [
                  result.destination.name or 'Not entered',
                  result.plan.requestedOn | formatDate("d MMMM yyyy"),
                  result.schedule.start | formatDate("d MMMM yyyy") or 'Not entered',
                  result.schedule.start | formatDate("HH:mm") or 'Not entered',
                  result.reason.description,
                  result.logistics.description or 'Not entered',
                  result.plan.priority.description,
                  { html: statusTag(result) }
                ]
              }
            ), rows) %}
          {% endfor %}

          {{ cardTable({
            columns: [
              [
                { text: 'Destination', width: 30 },
                { text: 'Request received', width: 25 },
                { text: 'Date', width: 20 },
                { text: 'Time', width: 25 }
              ],
              [
                { text: 'Reason', width: 30 },
                { text: 'Escort details', width: 25 },
                { text: 'Priority', width: 20 },
                { text: '', width: 25 }
              ]
            ],
            rows: rows
          }) }}

          {{ simplePagination(paginationParams) }}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
