{% extends "partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = 'Enter a destination for this prisoner - Manage ' + transfer.label + 's' %}

{% block meta %}
  <meta name="autocompleteElements" content="destination"/>
{% endblock %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage {{ transfer.label }}s</span>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{ govukSelect({
        id: "destination",
        name: "destination",
        label: { text: "Enter a destination for " + prisonerDetails | firstNameSpaceLastName, classes: "govuk-label--l", isPageHeading: true },
        hint: { text: "Start typing a prison name" },
        items: prisons | fromCodedDescription | addSelectValue('') | setSelectedValue(destination),
        errorMessage: validationErrors | findError('destination')
      }) }}

      {{ govukButton({
        classes: 'govuk-!-margin-top-6',
        text: "Save",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
