{% extends "partials/layout.njk" %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "partials/validatedTimeInput/macro.njk" import validatedTimeInput %}

{% set pageTitle = 'Enter the transfer date and time - Schedule a transfer' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Schedule a transfer</span>
    <h1 class="govuk-heading-l">Enter the transfer date and time</h1>
    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      {{ mojDatePicker({
        id: "startDate",
        name: "startDate",
        label: {
          text: 'What date will ' + prisonerDetails | firstNameSpaceLastName | possessiveComma + ' transfer be?',
          classes: "govuk-fieldset__legend--m"
        },
        hint: {
          text: 'For example, 17/5/2024.'
        },
        value: startDate,
        errorMessage: validationErrors | findError('startDate'),
        classes: 'hmpps-datepicker--fixed-width govuk-body',
        minDate: inputDate()
      }) }}

      {{ validatedTimeInput({
        id: "startTime",
        name: "startTime",
        classes: 'govuk-!-static-margin-bottom-6',
        fieldset: {
          legend: {
            text: 'What time will ' + prisonerDetails | firstNameSpaceLastName | possessiveComma + ' transfer be?',
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: 'Use the 24-hour clock. For example, 09 08 or 17 32.'
        },
        validationErrors: validationErrors,
        hour: startTimeHour,
        minute: startTimeMinute
      }) }}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>
{% endblock %}
