{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = 'Are you sure you want to cancel this transfer - Manage ' + transfer.label + 's' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage {{ transfer.label }}s</span>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{ govukRadios({
        name: "confirm",
        errorMessage: validationErrors | findError('confirm'),
        fieldset: {
          legend: {
            text: 'Are you sure you want to cancel this transfer?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: { html: govukWarningText({
          text: "This action cannot be reversed.",
          iconFallbackText: "Warning"
        }) },
        items: [
          {
            value: 'YES',
            text: "Yes"
          },
          {
            value: 'NO',
            text: "No"
          }
        ] | setCheckedValue(confirm)
      }) }}

      <div id="additional-inputs">
        {{ govukRadios({
          name: "cancellationReason",
          errorMessage: validationErrors | findError('cancellationReason'),
          fieldset: {
            legend: {
              text: 'Select a reason for cancelling this transfer',
              classes: "govuk-fieldset__legend--m",
              isPageHeading: false
            }
          },
          items: cancellationReasons | fromCodedDescription | setCheckedValue(cancellationReason)
        }) }}

        {{ govukTextarea({
          id: "reason",
          name: "reason",
          errorMessage: validationErrors | findError('reason'),
          label: {
            text: "Enter any further details for this cancellation (optional)",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          value: reason
        }) }}
      </div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
{% endblock %}

{% block pageScripts %}
<script nonce="{{ cspNonce }}">
  window.onload = function () {
    const confirmInputs = Array.from(document.querySelectorAll('input[name=confirm]'))

    const toggleAdditionalInputs = () => {
      if (confirmInputs[0].checked) {
        document.getElementById('additional-inputs').classList.remove('govuk-!-display-none')
      } else {
        document.getElementById('additional-inputs').classList.add('govuk-!-display-none')
      }
    }

    confirmInputs[0].addEventListener('change', toggleAdditionalInputs)
    confirmInputs[1].addEventListener('change', toggleAdditionalInputs)

    toggleAdditionalInputs()
  }
</script>
{% endblock %}
