{% extends "partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = 'Are you sure you want to schedule this plan - Manage ' + transfer.label + 's' %}

{% block innerContent %}
  <div class="govuk-width-container">
    <span class="govuk-caption-l">Manage {{ transfer.label }}s</span>

    <form method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

      {{ govukRadios({
        name: "confirm",
        errorMessage: validationErrors | findError('confirm'),
        fieldset: {
          legend: {
            text: 'Are you sure you want to schedule this plan?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: { html: '<p class="govuk-hint">Scheduling this plan will: <ul class="govuk-list govuk-list--bullet govuk-hint"><li>make it available for reception staff to view and book the prisoner</li><li>move it from Planned transfers to Scheduled transfers</li></ul></p>' },
        items: [
          {
            value: 'YES',
            text: "Yes"
          },
          {
            value: 'NO',
            text: "No"
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Confirm",
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
