{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}
{% set pageTitle = "Conflict" %}

{% block innerContent %}
  <h1 class="govuk-heading-xl">
    There was an error
  </h1>
  <p>
    The operation you requested cannot be performed due to a conflict.
  </p>
  <h2 class="govuk-heading-m">Contact the helpdesk</h2>
  <p>Call 0800 917 5148 or #6598 from an establishment.</p>

  <a href={{digitalPrisonServicesUrl}}>Go to digital services home page</a>
{% endblock %}
