{% extends "../partials/layout.njk" %}

{% set pageTitle = "Service not enabled" %}
{% set mainClasses = "app-container govuk-body" %}
{% set showBreadcrumbs = true %}

{% block innerContent %}

  <h1 class="govuk-heading-xl">Schedule a transfer for a prisoner service not enabled</h1>
  <p>This service is not enabled for your prison.</p>
  <p><a class="govuk-link govuk-link--no-visited-state" href="{{ digitalPrisonServicesUrl }}">Go to digital services home page</a></p>

{% endblock %}
