{#
Parameters:
  columns = [{ text: string, width: 5 | 10 | 15 | 20 | 25 | 30 | 35 | 40 | 45 | 50 }]
  rows = [{ title: { html: string or text: string }, action: { href: string, text: string }, data: ['row 1 col 1', 'row 1 col 2']}]
#}

{% macro cardTable(opts) %}
  {% set columns = opts.columns %}
  {% set rows = opts.rows %}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>

  {% for row in rows %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% if row.title.html %}
          {{ row.title.html | safe }}
        {% else %}
          <strong>{{ row.title.text }}</strong>
        {% endif %}
      </div>
      {% if row.action %}
        {% if row.action.href %}
          <div class="align-right">
            <a class="govuk-link govuk-link--no-visited-state" href="{{ row.action.href }}">
              {% if row.action.html %}
                {{ row.action.html | safe }}
              {% else %}
                {{ row.action.text }}
              {% endif %}
            </a>
          </div>
        {% else %}
          {% if row.action.html %}
            {{ row.action.html | safe }}
          {% else %}
            {{ row.action.text }}
          {% endif %}
        {% endif %}
      {% endif %}
    </div>

    <div class="govuk-grid-row">
      {% for column in columns %}
        <div class="card-table-column card-table-column__{{ column.width }}">
          <strong>{{ column.text }}</strong><br/>
          {% if row.data[loop.index0].html %}
            {{ row.data[loop.index0].html | safe }}
          {% else %}
            {{ row.data[loop.index0] }}
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
  {% endfor %}
{% endmacro %}
